@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*------------------------------General*/
/* #071013 - Rich Black
    #FAD4D8 - Pale Pink
    #B8C0CA - Silver Sand
    #75ABBC - Pewter Blue */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/*-----------------------------------Nav*/

.navbar {
    background-color: #071013;
}

.nav-link {
    color: #B8C0CA;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
}


.navbar-brand {
    color: #B8C0CA;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
}

.navbar-brand:hover {
    color: #FAD4D8;
    transition: ease-in 0.7s;
}

/*------------------Landing-------*/


.main h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #FAD4D8;
}

.main h1 {
    font-family: 'Jura', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: whitesmoke;
}

.main h1 span {
    font-family: 'Jura', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #75abbc;
}

/*---------------------------Main About*/


.about {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}
.about h1 {
    font-family: 'Jura', sans-serif;
    text-shadow: #FAD4D8;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 2px 3px 3px #FAD4D8;
}
.about p span {
    color: #75abbc;
}

.btn1 {
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: #FAD4D8;
    color: #071013;
    cursor: pointer;
    transition: ease-out 0.7s;
}

.btn1:hover {
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid whitesmoke;
    transition: 0.7s;
}

.btn2 {
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid #FAD4D8;
    border-radius: 0px 10px 10px 0px;
    background-color: transparent;
    color: whitesmoke;
}

.btn2:hover {
    border-radius: 5px;
    background-color: #FAD4D8;
    color: black;
    border: 1px solid whitesmoke;
    transition: 0.7s;
}

/*---------------------------Services--*/
.services h1 {
    font-family: 'Jura', sans-serif;
    text-shadow: #FAD4D8;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 2px 3px 3px #75abbc;
}

.card {
    border: none;
    outline: none;
    -webkit-box-shadow: 10px 10px 16px 4px #75ABBC;
    -moz-box-shadow: 10px 10px 16px 4px #75ABBC;
    box-shadow: 10px 10px 16px 4px #75ABBC;
}

.card p {
    color: #75abbc;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: #d4d9e1;
    color: #071013;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.card:hover {
    background-color: #071013;
    color: whitesmoke;
    transition: 1s;
}

/*------------Portfolio*/

.portfolio h1 {
    font-family: 'Jura', sans-serif;
    text-shadow: #FAD4D8;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 2px 3px 3px #FAD4D8;
    transition: ease-in-out;
    transition: 0.5s;
}

/*------------contact*/

.contact h1 {
    font-family: 'Jura', sans-serif;
    text-shadow: #FAD4D8;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 2px 3px 3px #FAD4D8;
}

.contact:hover .circle{
    background-color: #071013;
    color: whitesmoke;
    transition: 1s;
}

/*---------Footer--*/

footer {
    min-height: 180px;
    font-family: 'Jura', sans-serif;
}

.social-links {
    padding-bottom: 15px;
}
