@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*------------------------------General*/
/* #071013 - Rich Black
    #FAD4D8 - Pale Pink
    #B8C0CA - Silver Sand
    #75ABBC - Pewter Blue */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/*-----------------------------------Nav*/

.navbar {
    background-color: #071013;
}

.nav-link {
    color: #B8C0CA;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
}

.nav-link:hover {
    color: #FAD4D8;
    transition: ease-in 0.7s;
}

.navbar-brand {
    color: #B8C0CA;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
}

.navbar-brand:hover {
    color: #FAD4D8;
    transition: ease-in 0.7s;
}

/*------------------Landing-------*/

.main {
    
}

.main h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #FAD4D8;
}

.main h1 {
    font-family: 'Jura', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: whitesmoke;
}

.main h1 span {
    font-family: 'Jura', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #75abbc;
}

/*---------------------------Main About*/
/* <img src='https://avataaars.io/?avatarStyle=Circle&topType=Hijab&accessoriesType=Blank&hatColor=Black&clotheType=Hoodie&clotheColor=PastelBlue&eyeType=Side&eyebrowType=UpDownNatural&mouthType=Twinkle&skinColor=Light'
/> - vector avatar */

.about {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}
.about h1 {
    font-family: 'Jura', sans-serif;
    text-shadow: #FAD4D8;
    font-weight: 800;
    font-size: 3rem;
    text-shadow: 2px 3px 3px #FAD4D8;
}
.about p span {
    color: #75abbc;
}

.progress {
    background-color: #B8C0CA;
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
}